@using hacimehmetli.Models.Entity
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Ürün Kategorileri</span>
    </div>
</div>
<a href="@Url.Action("YeniKategori", "Admin")"><button type="button" class="btn btn-info">Yeni Kategori Ekle</button></a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Kategori Adı</th>

            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kategori in Model)
        {
            <tr>
                <th scope="row">@kategori.id</th>
                <td>@kategori.categoryname</td>

                <td>
                    <a href="@Url.Action("KategoriSil", "Admin" , new { id = kategori.id })"><button type="button" class="btn btn-danger">Sil</button></a>
                    <a href="@Url.Action("KategoriDuzenle", "Admin" , new { id = kategori.id })"><button type="button" class="btn btn-info">Düzenle</button></a>
                </td>
            </tr>

        }


    </tbody>
</table>